<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-12" th:if="${manufacturers.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Manufacturer name</th>
                        <th scope="col">Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="manufacturer: ${manufacturers}" class="manufacturer">
                        <td th:text="${manufacturer.getName()}"></td>
                        <td th:text="${manufacturer.getAddress()}"></td>
                        <td class="text-right">
                            <form th:action="@{'/manufacturers/delete/{id}' (id=${manufacturer.getId()})}"
                                  th:method="delete">
                                <button type="submit"
                                        class="btn btn-sm btn-danger delete-product">
                                    <i class="fa fa-trash">Delete</i>
                                </button>
                            </form>

                            <a th:href="@{'/manufacturers/edit-form/{id}' (id=${manufacturer.getId()})}"
                               class="btn btn-sm btn-info edit-product">
                                <i class="fa fa-trash">Edit</i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/manufacturers/add-form" class="btn btn-block btn-dark add-product-btn">Add new manufacturer</a>
                </div>
            </div>
        </div>
    </div>
    <a href="/home" class="btn btn-primary">Home</a>
</div>